POSTGRES_USER=admin
POSTGRES_PASSWORD=secretpassword
POSTGRES_DB=main_db

# When running via docker-compose, FastAPI will connect to Postgres
# using the service name "postgres-db" on the default port 5432.
DATABASE_URL=postgresql://admin:secretpassword@postgres-db:5432/main_db

# pgAdmin UI credentials
PGADMIN_DEFAULT_EMAIL=user@example.com
PGADMIN_DEFAULT_PASSWORD=changeme

